[submodule "lib/owl"]
	path = lib/owl
	url = https://github.com/owl-project/owl
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/wxWidgets"]
	path = lib/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "lib/diff-gaussian-rasterization"]
	path = lib/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
